<!DOCTYPE html>
<title>Stats</title>
<meta charset="utf8">

<link rel="stylesheet" href="__VMSTAT__/stats.css">
<script src="__VMSTAT__/js/sugar-1.4.1.min.js"></script>
<script src="__VMSTAT__/js/jquery-2.0.3.min.js"></script>
<script src="__VMSTAT__/js/reconnecting-websocket.js"></script>
<script src="__VMSTAT__/js/smoothie.js"></script>
<script src="__VMSTAT__/js/chroma.min.js"></script>
<script src="__VMSTAT__/stats.js"></script>

<main id="charts">
  <section class="chart template">
    <h2 class="title"></h2>
    <canvas width="600" height="80"></canvas>
    <ul class="stats">
        <li class="stat template">
            <span class="stat-name"></span>
            <span class="stat-value"></span>
        </li>
    </ul>
  </section>
</main>
